.header {
  margin-top: 1.25rem;
  width: 100%;
}

.header__main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.header__options-nav, .header__actions-nav {
  display: flex;
  align-items: center;
}

.header__options-nav__list, .header__actions-nav__list{
  list-style: none;
  display: flex;
}

.header__options-nav__list__item {
  margin: 0 10px;
}

.header__actions-nav__list__item {
  margin: 0 10px;
  background-color: var(--clr-text);
  color: var(--clr-body-bg);
  border-radius: 8px;
  padding: .75rem 1.25rem;
  text-align: center;
}

.header__options-nav__list__item__link, .header__actions-nav__list__item__link {
  text-decoration: none;
  color: var(--radio-color);
}


.header__options-nav__list__item :hover, .header__actions-nav__list__item :hover {
  border-bottom: 2px solid #333;
}